<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New folder</title>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Wallpoet&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900&display=swap" rel="stylesheet">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- semantic ui css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <!-- social medias icon css -->
    <link rel="stylesheet" href="/css/bootstrap-social.css">
    <!-- custom css -->
    <link rel="stylesheet" href="/css/index.css">

  </head>
  <body>
    <!-- main navbar -->
    <nav class="navbar">
      <a class="navbar-brand" href="#">
        <div class="title2">
          <img src="/img/folder5.png" alt="" class="logo"> </i><span class="half">New Folder</span>
        </div>
      </a>
      <!-- rightside user dropdown -->
      <div class="ui inline dropdown">
        <div class="text">
          <img class="ui avatar image mr-0" src="/img/male1.jfif">
          John Ligazon
        </div>
        <i class="left dropdown icon"></i>
        <div class="menu ml-5 mt-2">
          <div class="item">
            <a href="#">Profile</a>
          </div>
          <div class="item">
            <a href="/logout">LogOut</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- breadcrumb shown on top when small devices -->
    <div class="ui small breadcrumb" id="location2">
    </div>
